services:
  # db:
  #   image: postgres:17
  #   env_file:
  #     - ./backend/mainapp/.env.development
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"


  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--bind", "0.0.0.0", "--protected-mode", "no"]
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - ./backend/mainapp/.env.development   # для Django
    ports:
      - "8000:8000"
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "80:80"   # лучше dev-сервер оставить на 3000
    env_file:
      - ./frontend/.env.development  # для Vite
    environment:
      NODE_ENV: development
    command: ["npm", "run", "dev", "--", "--host"]   # чтобы Vite слушал 0.0.0.0
    depends_on:
      - backend

volumes:
  redis_data:
